<%- include('./includes/head.ejs') %>

<main>
    <section class="container">
        <h1>Your contacts</h1>
        <form style="display:none;" action="" > 
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
        
        <a href="/contacts/register">
            <button> Create contact </button>
        </a>
        
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>E-mail</th>
                    <th>Phone</th>  
                    <th>Actions</th>   
                </tr>
            </thead>
            <tbody>
                <% for(let contact of contractData) { %>
                    <tr>
                        <td style="display:none"> <%= contact.id %> </td>
                        <td> <%= contact.name %> </td>
                        <td> <%= contact.surname %> </td>
                        <td> <%= contact.email %> </td>
                        <td> <%= contact.phone %> </td>
                        <td> <img class="delete" src="/assets/images/trash.png"> <img class="edit" src="/assets/images/pencil.png"></td>
                    </tr>
                <% } %>
            </tbody>
        </table>


    </section>
</main>

<%- include('./includes/footer.ejs') %>
