<%- include('./includes/head.ejs') %>

<main>
    <section class="container">
        <h1>Your contacts</h1>
        
        <a href="/contacts/register">
            <button> Create contact </button>
        </a>
        
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>E-mail</th>
                    <th>Phone</th>  
                    <th>Actions</th>   
                </tr>
            </thead>
            <tbody>
                <% for(let contact of contractData) { %>
                    <tr>
                        <td> <%= contact.name %> </td>
                        <td> <%= contact.surname %> </td>
                        <td> <%= contact.email %> </td>
                        <td> <%= contact.phone %> </td>
                        <td> 
                            <a href="/contacts/delete/<%= contact.id %>" > 
                                <img class="delete" src="/assets/images/trash.png"> 
                            </a> 

                            <a href="/contacts/edit?name=<%= contact.name %>&surname=<%= contact.surname %>&email=<%= contact.email %>&phone=<%= contact.phone %>&id=<%= contact.id %>"> 
                                <img class="edit" src="/assets/images/pencil.png"> 
                            </a> 
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </section>
</main>

<%- include('./includes/footer.ejs') %>
